*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */

  }


/* mobile grid */
/* this code will be used when the screen is 1200px or less */

@media screen and (max-width: 1200px) {
  body{
   transform-origin: top;
   transform: scale(1);
   margin:0 auto;
  }
 
   }

/* the main container */

.back-side {
width: 510.01px;
height:323.22px;
position: static;
/* adjust this to space out the cards */
margin: 250px auto;
overflow: hidden;
box-shadow: 2px 5px 15px 0px #17161694;
background-color: white;
background-image: url("bc-lines.svg");
}


/* text */
h2 {
  font-family: "proxima-nova", sans-serif;
}

.text-container {
  text-align: center;
}

.icon-container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  top: 100px;
  left:150px;
  position: relative;
  width:80%;
  /* margin: 0 auto; */
  grid-template-areas: 
  "a b"
  "c d";

}

.instagram{
  position: relative;
  left:60px;
}

.linkedin{
  position: relative;
  left:60px;
}
.name-container{
  position: relative;
  top:143px;
  left:198px;
}

p {
  font-family: "proxima-nova", sans-serif;
  font-size: 190%;
  font-weight: 600;
  font-style: bold ;
}

.st1{display:inline;}

svg{
fill:rgb(0, 0, 0);
}


.svg-interaction:hover{
fill:rgb(248, 157, 11);
opacity: 0.5;
animation:pulse; 
animation-duration: 2s;
}

body {
  background-image: url("morning-bg.jpg");
  background-repeat: repeat;
  /* background-attachment: scroll; */
  background-position: center;
  background-size: 100%;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}

/* background
body {
  box-sizing: content-box;
  padding-bottom: 300px;
  position: absolute;
  height: 100%;
  width: 200%;
  background-image: url("morning-bg.jpg");
  height: 750px;
  width: 7680px;
  background-repeat: repeat-x;
  animation: slide 15s linear infinite;
}

@keyframes slide {
  from{
    transform: translateX(882)
  }
  to {
    transform: translateX(-441px)
  }
} */

