*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */

  }



body {
  background-image: url("morning-bg.jpg");
  background-repeat: repeat;
  /* background-attachment: scroll; */
  background-position: center;
  background-size: cover;
}


<div class="scrolling-image-container">
 <div class="scrolling-image"></div>
</div>

.scrolling-image-container {
  overflow: hidden;
}

.scrolling-image {
  background: url("assets/morning-bg.jpg") repeat-x;
  height: 750px;
  width: 7680px;
}

@keyframes slide {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-3840px); /* The image width */
  }
}

.scrolling-image {
  background: url("assets/morning-bg.jpg") repeat-x;
  height: 750px;
  width: 7680px;
  animation: slide 3s linear infinite;
}
/* mobile grid */
/* this code will be used when the screen is 1200px or less */
@media screen and (max-width: 1200px) {
  body{
   transform-origin: top;
   transform: scale(1.5);
   margin:0 auto;
  }
 
   }

/* the main container */

.back-side {
width: 600px;
height:300px;
position: static;
/* adjust this to space out the cards */
margin: 20px auto;
overflow: hidden;
box-shadow: 2px 5px 15px 0px #17161694;
background-color:white;
}

/* text */
.h2 {
  font-family:Arial, Helvetica, sans-serif
}

/* .boxContainer{
} */
.logo-container {
  <img src="logo.png"
}


.name{
display: grid;
position: center;
margin-left:30px;
padding: 10px

}

.secondary{
display: grid;
position: center;
margin-left:30px;

}

.icon-container{

width:80%;
margin: 0 auto;
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
grid-template-areas: 
"a b c";
grid-gap: 10px;
}

/* .circle{
background-image: url("/assets/circle.svg");
grid-area: a;
} */


/* h3{
margin-bottom: 0px;
}
h5{
margin-top: 0px;
padding-top: 0px;
} */


/* svg styling */
/* .st0{display:none;} */
.st1{display:inline;}

svg{
fill:rgb(0, 0, 0);
}

#icon-fill{
fill:none;
}



.svg-interaction:hover{
fill:rgb(248, 157, 11);
opacity: 0.5;
animation:pulse; 
animation-duration: 2s;
}
